/.vite
apps/server/coverage/
node_modules/
apps/client/coverage/
/playwright-report/
/test-results/
/offline/output/
.env
/.vscode
infra/bicep/host.main.bicepparam
scripts/gh-vars.env
infra/bicep/host.bicepparam
apps/client/public/auth-config.json
infra/bicep/main.json
**/__pycache__/**
infra/bicep/host.main copy.bicepparam
infra/bicep/deploy.env
